body {
	background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
	margin: 0 auto;
}

.cardBack {
	display: block;
	background-color: rgba(255, 255, 255, 0.247);
	border-radius: 5px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	max-width: 600px;
}
.form-control {
	background-color: rgba(255, 255, 255, 0.247);
	border: none;
}
.form-control .search-input {
	background-color: rgba(255, 255, 255, 0.658);
	border-color: black;
}
h1 {
	margin-bottom: 0;
}
ul {
	margin: 0;
	padding: 0px;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	display: block;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	font-size: 14px;
}

#icon {
	vertical-align: top;
	line-height: 1;
}

.todayBox {
	background-color: rgba(255, 255, 255, 0.386);
	border: rgb(10, 10, 94);
	padding: 15px 25px;
	border-radius: 0 0 5px 5px;
}
.search {
	background-color: rgba(255, 255, 255, 0.386);
	border: rgb(10, 10, 94);
	padding: 10px;
	border-radius: 5px 5px 0 0;
}
#search-input {
	background-color: rgba(255, 255, 255, 0.386);
	border: #0d6dfd4d solid 1px;
	padding: 6px;
	border-radius: 5px 5px 5 5;
}

#location-button {
	left: 13px;
	padding: 6px, 3px, 6px, 3px;
	margin: 0 auto;
}

#weatherforecast {
	background-color: rgba(255, 255, 255, 0.386);
	border: rgb(10, 10, 94);
	margin: 10px 10px 10px 10px;
	padding: 15px;
	border-radius: 5px 5px 5px 5px;
}

#description {
	text-transform: capitalize;
}

#temperature {
	font-size: 75px;
	font-weight: 600;
	line-height: 1;
	padding-top: 15px;
}

.weather-factors {
	top: 35px;
}

.units {
	position: relative;
	font-size: 16px;
}

.units .working {
	color: rgb(27, 26, 26);
	cursor: default;
	text-decoration: none;
	font-weight: bolder;
}

.units .working:hover {
	text-decoration: none;
}

.weather-forecast {
	position: absolute;
	top: 40px;
	left: 20px;
}

#iconFuture {
	max-width: 60px;
	position: relative;
}
#weatherforecast li {
	line-height: 1;
	top: -10px;
	text-align: center;
}
